.heading1 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 800;
}

.heading2 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;
    margin-top: 20px;
}

.heading3 {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 600;
    margin-top: 10px;
}

.callout {
    border-radius: 10px;
    border: 0.5rem ridge dodgerblue;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100vw;
}

.calloutIcon {
    display: flex;
    flex: 0 0 auto;
}

.calloutText {
    display: flex;
    margin-left: 20px;
    flex: 1 1 auto;
    word-wrap: break-word;
}

.quote {

}

.blockChildren {
    margin-left: 1rem;
}

ul.blockTopLevelList {
    margin: 0.2em;
    padding-left: 0.8em;
}

ul.blockNonTopLevelList {
    margin: 0.2em;
    padding-left: 0.8em;
}

ul.blockTopLevelList li {
    list-style-position: inside;
}

ul.blockNonTopLevelList li {
    list-style-position: inside;
}

ol.blockTopLevelList {
    margin: 0.2em;
    padding-left: 0.8em;
}

ol.blockNonTopLevelList {
    margin: 0.2em;
    padding-left: 0.8em;
}

ol.blockTopLevelList li {
    list-style-position: inside;
}

ol.blockNonTopLevelList li {
    list-style-position: inside;
}

.blockParagraph {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /*padding-left: 0.3rem;*/
}

.blockCode {
    margin: 0.5em auto;
    padding: 0.8em 2em;
    color: beige;
    background-color: darksalmon;
    border-radius: 0.5em;
}

.blockImg {
    max-height: 50vh;
}
