@import "../styles/color.scss";

@keyframes moveInLeft {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
}

@keyframes moveInBottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
}

.container {
    margin: 30px 0;
    font-size: 28px;
    animation: moveInBottom 1s;
}

.link {

    &:link,
    &:visited {
        display: inline-block;
        text-decoration: underline;
        transition: all .5s;
        position: relative;
    }

    @media (min-width: 768px) {
        &:hover {
            transform: translateY(-3px);
        }

        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            position: absolute;
            border-radius: 100px;
            top: 0;
            left: 0;
            z-index: -1;
            background: rgba(104, 168, 255, 0.87);
            opacity: 0;
            transition: all .5s;
        }

        &:hover::after {
            /*transform: scale(1.5);*/
            left: -20px;
            top: -10px;
            width: calc(100% + 40px);
            height: calc(100% + 20px);
            opacity: 0.5;
            box-shadow: 0 5px 10px white;
        }
    }

}

.linkColor {
    color: $blog-summary-text-color;
}

.summaryLastEditedTime {
    font-size: 16px;
    color: $summary-color;
}

.summaryDetails {
    padding-left: 10px;
    font-size: 20px;
    color: $summary-color;
}