/* components/carousel.module.scss */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.carouselSection {
  //padding: 3em 8% 1em 8%;
  margin: 0 auto;
  padding: 50px 0 60px;
  width: 100%;
  max-width: 1200px;
  @media (max-width: 1200px) {
    max-width: 960px;
  }
  @media (max-width: 768px) {
    max-width: 768px;
  }

  .test {
    background: #e0ffe0;
    margin: 100px;
  }

  .lineTitle {
    margin-bottom: 48px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    width: 400px;

    @media (max-width: 768px) {
      //padding-left: 5%;
      //padding-right: 5%;
      max-width: 90%;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      border-radius: 2px;
    }

    &::before {
      width: 100%;
      background: #f2f2f2;
    }

    &::after {
      width: 32px;
      background: #e73700;
    }
  }

  .item {
    margin: 0 20px 80px;
    padding: 40px 0 20px;
    width: 350px;
    height: 480px;
    @media (max-width: 1200px) {
      margin: 0 10px 80px;
      padding: 40px 0 20px;
      width: 300px;
      height: 480px;
    }
    @media (max-width: 768px) {
      margin: 0 10px 40px;
      padding: 20px 0 20px;
      width: 290px;
      height: 450px;
    }
    display: flex;
    align-items: flex-end;
    background-color: #343434;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 32px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    color: #fff;

    &.active {
      //width: 500px;
      box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
      @media (max-width: 768px) {
        box-shadow: 12px 20px 20px rgba(0, 0, 0, 0.25);
      }
      z-index: -3;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      //background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }

    .backgroundImage {
      position: absolute; // an absolutely positioned element can take the full space of its parent element if the parent is relatively positioned
      top: -20px;
      left: -20px;
      width: calc(100% + 40px); /* Extend width */
      height: calc(100% + 40px); /* Extend height */
      background-size: cover;
      background-position: center;
      z-index: 1; /* Ensure the background stays behind the content */

      &.activeBackground {
        opacity: 0.8;
      }
    }

    .overlay {
      position: absolute;
      top: -20px;
      left: -20px;
      width: calc(100% + 40px); /* Extend width */
      height: calc(100% + 40px); /* Extend height */
      background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
      //filter: blur(10px);
      z-index: -1;
    }

    .itemDesc {
      padding: 0 20px 12px 40px;
      color: #fff;
      position: relative;
      z-index: 1;
      overflow: hidden;
      transform: translateY(calc(100% - 100px));
      transition: all 0.4s ease-in-out;

      h3 {
        font-size: 180%;
        min-height: 50px;
        align-content: flex-end;
        //transform: translateY(-54px);
        transition: all 0.4s ease-in-out;
      }

      ul, li, p {
        opacity: 0;
        transform: translateY(32px);
        transition: all 0.4s ease-in-out 0.2s;
        font-size: 110%
      }

      ul {
        //margin-left: 0px;
      }

      &.active {
        transform: none;

        ul, li, p, h3 {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

//@media (min-width: 992px) and (max-width: 1199px) {
//  .gameSection {
//    padding: 50px 30px;
//
//    .lineTitle {
//      margin-bottom: 32px;
//    }
//
//    .item {
//      margin: 0 12px 60px;
//      width: 260px;
//      height: 360px;
//
//      &.active {
//        width: 400px;
//      }
//
//      .itemDesc {
//        transform: translateY(calc(100% - 46px));
//      }
//    }
//  }
//}
//
//@media (min-width: 768px) and (max-width: 991px) {
//  .gameSection {
//    padding: 50px 30px 40px;
//
//    .lineTitle {
//      width: 330px;
//      margin-bottom: 32px;
//    }
//
//    .item {
//      margin: 0 12px 60px;
//      width: 240px;
//      height: 330px;
//
//      &.active {
//        width: 360px;
//      }
//
//      .itemDesc {
//        transform: translateY(calc(100% - 42px));
//      }
//    }
//  }
//}
//
//@media (max-width: 767px) {
//  .gameSection {
//    padding: 30px 15px 20px;
//
//    .lineTitle {
//      width: 250px;
//      margin-bottom: 20px;
//    }
//
//    .item {
//      margin: 0 10px 40px;
//      width: 200px;
//      height: 280px;
//
//      &.active {
//        width: 270px;
//        box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
//      }
//
//      .itemDesc {
//        padding: 0 14px 5px;
//        transform: translateY(calc(100% - 42px));
//      }
//    }
//  }
//}
