/* components/carousel.module.scss */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.carouselSection {
  margin: 0 auto;
  padding: 50px 0 60px;
  width: 100%;
  max-width: 1200px;
}
@media (max-width: 1200px) {
  .carouselSection {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .carouselSection {
    max-width: 768px;
  }
}
.carouselSection .test {
  background: #e0ffe0;
  margin: 100px;
}
.carouselSection .lineTitle {
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
  width: 400px;
}
@media (max-width: 768px) {
  .carouselSection .lineTitle {
    max-width: 90%;
  }
}
.carouselSection .lineTitle::before, .carouselSection .lineTitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.carouselSection .lineTitle::before {
  width: 100%;
  background: #f2f2f2;
}
.carouselSection .lineTitle::after {
  width: 32px;
  background: #e73700;
}
.carouselSection .item {
  margin: 0 20px 80px;
  padding: 40px 0 20px;
  width: 350px;
  height: 480px;
  display: flex;
  align-items: flex-end;
  background-color: #343434;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 32px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  color: #fff;
}
@media (max-width: 1200px) {
  .carouselSection .item {
    margin: 0 10px 80px;
    padding: 40px 0 20px;
    width: 300px;
    height: 480px;
  }
}
@media (max-width: 768px) {
  .carouselSection .item {
    margin: 0 10px 40px;
    padding: 20px 0 20px;
    width: 290px;
    height: 450px;
  }
}
.carouselSection .item.active {
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  z-index: -3;
}
@media (max-width: 768px) {
  .carouselSection .item.active {
    box-shadow: 12px 20px 20px rgba(0, 0, 0, 0.25);
  }
}
.carouselSection .item::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.carouselSection .item .backgroundImage {
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% + 40px); /* Extend width */
  height: calc(100% + 40px); /* Extend height */
  background-size: cover;
  background-position: center;
  z-index: 1; /* Ensure the background stays behind the content */
}
.carouselSection .item .backgroundImage.activeBackground {
  opacity: 0.8;
}
.carouselSection .item .overlay {
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% + 40px); /* Extend width */
  height: calc(100% + 40px); /* Extend height */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  z-index: -1;
}
.carouselSection .item .itemDesc {
  padding: 0 20px 12px 40px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 100px));
  transition: all 0.4s ease-in-out;
}
.carouselSection .item .itemDesc h3 {
  font-size: 180%;
  min-height: 100px;
  align-content: flex-end;
  transition: all 0.4s ease-in-out;
}
.carouselSection .item .itemDesc ul, .carouselSection .item .itemDesc li, .carouselSection .item .itemDesc p {
  opacity: 0;
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  font-size: 110%;
}
.carouselSection .item .itemDesc.active {
  transform: none;
}
.carouselSection .item .itemDesc.active ul, .carouselSection .item .itemDesc.active li, .carouselSection .item .itemDesc.active p, .carouselSection .item .itemDesc.active h3 {
  opacity: 1;
  transform: translateY(0);
}

/*# sourceMappingURL=carousel.module.css.map */
