@import "../styles/animation.scss";

.lightFootageColor {
    color: rgba(255, 255, 0, 0.8)
}

.darkFootageColor {
    color: rgba(255, 150, 0, 0.8);
}

.footageRainbowText {
    @extend .rainbowText;
    animation: rainbow 120s linear infinite;
}