@import "../styles/animation.scss";

.navigation {
  max-width: 50rem;
  margin-bottom: 1rem;
  overflow: hidden;
  display: inline-block;
  text-align: center;

  a {
    padding: 10px 10px;
  }
  text-decoration-line: overline;
}

.homeNavigation {
  display: block;
  position: absolute;
  right: 0;
  a {
    color: white;
  }
  text-decoration-line: overline;
}

.navDynamicText {
  @include dynamicText;
  font-family: inherit;
  font-size: 100%;
  font-weight: 600;
}