.navigation {
  max-width: 50rem;
  margin-bottom: 1rem;
  overflow: hidden;
  display: inline-block;
  text-align: center;

  a {
    padding: 10px 10px;
  }
}

.homeNavigation {
  display: block;
  position: absolute;
  right: 0;
  a {
    color: white;
  }
}