@import "../styles/animation.scss";

.navigation {
  max-width: 50rem;
  margin-bottom: 1rem;
  overflow: hidden;
  display: inline-block;
  text-align: center;

  a {
    padding: 10px 10px;
  }
}

.homeNavigation {
  font-size: 120%;
  display: block;
  position: absolute;
  right: 20%;
  top: 5vh;
  @media (max-width: 768px) {
    right: 5%;
  }
  color: white;
  a {
    color: white;
  }
  text-decoration-line: overline;
}

.navDynamicText {
  @include dynamicText;
  font-family: inherit;
  font-size: 100%;
  font-weight: 700;
}