.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.strikethrough {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.code {
    color: saddlebrown;
    padding: 0.2em 0.2em;
    border-radius: 3px;
    background-color: rgba(233, 150, 122, 0.5);
    font-family: monospace;
}