.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.strikethrough {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.code {
    color: saddlebrown;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    background-color: darksalmon;
    font-family: monospace;
}