@import "animation.scss";

.aboutContainer {
    animation: moveInLeft 2s;
}

.aboutParagraph {
    margin: 10px;
    font-size: 18px;
}

.aboutIntroParagraph {
    margin: 10px 0 10px 0;
    font-size: 20px;
}


.aboutList {
    margin-left: 20px;
}

.aboutHeading {
    margin-top: 20px;
    font-size: 32px;
    @media (max-width: 768px) {
        font-size: 28px;
    }
}

.aboutRainbowText {
    @include dynamicText;
}
