@keyframes moveInLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
}

@keyframes moveInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
}

.rainbowText {
  font-family: cursive;
  font-size: 100%;
  color: transparent;
  background: linear-gradient(250deg, #1e5799, #2ce0bf, #76dd2c, #dba62b, #ff1493, #1e5799);
  animation: rainbow 64s linear infinite;
  background-size: 60% 100%;
  -webkit-background-clip: text;
  //text-align: center;
}

@keyframes rainbow{
  0%{background-position-x:0}
  to{background-position-x:1024px}
}
