@font-face {
    font-family: 'JetBrains Mono';
    /*src: url("../fonts/JetBrainsMonoNL-ExtraLight.ttf");*/
    src: url("../fonts/JetBrainsMonoNL-Light.ttf");
    font-weight: auto;
    font-style: auto;
}