@import "color.scss";
@import "animation.scss";

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    /*25% {*/
    /*    background-position: 0 100%;*/
    /*}*/
    50% {
        background-position: 100% 100%;
    }
    /*75% {*/
    /*    background-position: 100% 0;*/
    /*}*/
    100% {
        background-position: 0 0;
    }
}

/* NOT PURE */
/*:root {*/
/*    --bg-size: 200% 200%;*/
/*    --animation: gradient 15s ease infinite;*/
/*}*/

.bgContainer {
    overflow: auto;
    background: rgba(255, 233, 233, 1);
    display: block;
    position: relative;
}

.headerContainer {
    position: relative;
    @media (max-width: 768px) {
        padding-top: 5vh;
    }
    @media (min-width: 768px) {
        padding-top: 10vh;
    }
    //left: 0;
    /*min-height: 100vh;*/
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 10vh;
    //width: 80%;
    @media (max-width: 768px) {
        padding-left: 10%;
        padding-right: 6%;
        //width: 88%;
    }
    //max-width: 1500px;
    background-image: linear-gradient(
                    to right bottom,
                    rgba(163, 147, 231, 0.7), rgba(248, 106, 211, 0.7),
                    rgba(179, 98, 255, 0.7), rgba(239, 146, 245, 0.7)
    );
    background-size: 200% 200%;
    background-position: 100% 100%;
    animation: gradient 15s ease infinite;
}

.headingTextBox {
    margin-top: 20px;
    @media (max-width: 768px) {
        margin-top: 2vh;
    }
    color: rgb(255, 255, 255);
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

.headingImage {

}

.headingTextPrimary {
    //@include dynamicText;
    font-family: 'Pacifico', cursive;
    padding-left: 5px;
    letter-spacing: 3px;
    display: inline-block;
    font-size: 72px;
    @media (max-width: 768px) {
        font-size: 48px;
    }
    color: $home-page-text-color;
    animation: moveInLeft 2s;
    word-wrap: break-word;
    white-space: normal;
}

.blogSummaryContainer {
    margin-top: 10px;
}

.blogSummaryHeading {
    /*margin-left: 10px;*/
    font-family: 'Pacifico', cursive;
    display: block;
    color: $blog-summary-text-color;
    font-size: 50px;
    @media (max-width: 768px) {
        font-size: 38px;
    }
}

.blogSentenceHeading {
    font-family: 'Pacifico', cursive;
    display: block;
    font-size: 24px;
    @media (max-width: 768px) {
        font-size: 22px;
    }
    margin: 1rem 0;
}

.blogSubSentence {
    margin-bottom: 20px;
}

.aboutContainer {
    padding: 3em 8% 2em 8%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1500px;
    @media (max-width: 768px) {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.aboutContentContainer {
    width: 100%;
    @media (max-width: 768px) {
        width: 100%;
    }
    max-width: 1500px;
}

.updatedAtContainer {
    padding: 30px 0 10px 10%;
    animation: moveInBottom 2s;
    background: rgba(255, 255, 255, 0.5);
    color: rgba(84, 84, 84, 0.8);
}

.footageContainer {
    margin: 60px 0 30px 0;
    color: $home-page-text-color;
}

.giscusContainer {
    margin-left: auto;
    margin-right: auto;
    //max-width: 1500px;

    background: rgba(255, 255, 255, 0.51);
    padding: 3em 8% 0 8%;
}
