.board {
    background: rgb(225, 255, 170);
    margin: 10px;
    height: 100px;
    width: 100%;
}

.newBoardBtn {
    margin: 10px;
    padding: 5px 10px;
    height: 4em;
    background: rgb(60, 140, 255);
    color: rgb(224, 255, 240);
    border: 0.1em solid rgba(178, 178, 255, 0.5);
    box-shadow: rgba(178, 178, 255, 0.5) 0 10px 16px 0, rgba(178, 178, 255, 0.16) 0 0 0 1px;
}

.newBoardBtn:hover {
    opacity: 0.5;
}